@model Models.Post

<div class="xs">
    <h2>Details</h2>
    <div class="well1 white">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Avatar)
            </dt>

            <dd>
                <img src="@(string.IsNullOrEmpty(Model.Avatar)?null:Model.Avatar)" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Order)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateBy)
            </dt>

            <dd>
                @SEA.Heplers.Display.DisplayNameAccount(Model.CreateBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditBy)
            </dt>

            <dd>
                @SEA.Heplers.Display.DisplayNameAccount(Model.EditBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EditDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EditDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @SEA.Heplers.Display.DisplayActive(Model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LangId)
            </dt>

            <dd>
                @SEA.Heplers.Display.DisplayLanguage(Model.LangId)
            </dd>

            <dt>
                List Topic
            </dt>

            
                    @foreach (var item in Model.Topics)
                    {
                        <dd>@item.Name</dd>
                    }

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>


</div>
