@model PagedList.PagedList<Models.FeelBack>
@using PagedList.Mvc
@using SEA.Heplers
@{    
    ViewBag.Title = "Index";
}

    <div class="xs">
        <div class="bs-example4">
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>

                    <th>
                        Create Date
                    </th>
                    <th>
                        Have Read
                    </th>
                    <th>Tools</th>
                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HaveRead)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
        </div>
    </div>
