@model PagedList.PagedList<Models.Config>
@using PagedList.Mvc
@using SEA.Heplers
@{
    ViewBag.Title = "Index";
}
<div class="xs">
    <h2>Index</h2>
    <div class="bs-example4">
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EditDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RootId)
                </th>
                <th>
                    Email
                </th>
                <th>
                    Language
                </th>
                <th>Tools</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EditDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RootId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
      </div>
</div>