<ul class="nav" id="side-menu">
    <li>
        <a href="index.html"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "FeelBacksAdmin")"><i class="fa fa-laptop nav_icon"></i>Feelback<span class="fa arrow"></span></a>
        
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-indent nav_icon"></i>Menu Levels<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="graphs.html">Graphs</a>
            </li>
            <li>
                <a href="typography.html">Typography</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-envelope nav_icon"></i>Mailbox<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="inbox.html">Inbox</a>
            </li>
            <li>
                <a href="compose.html">Compose email</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="@Url.Action("Index", "ConfigsAdmin")"><i class="fa fa-flask nav_icon"></i>Config</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-check-square-o nav_icon"></i>Navigation<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index", "NavigationsAdmin")">List Navigation</a>
            </li>
            <li>
                <a href="@Url.Action("Create", "NavigationsAdmin")">Create</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-sitemap nav_icon"></i>Topic<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index","TopicAdmin")">List Topic</a>
            </li>
            <li>
                <a href="@Url.Action("Create","TopicAdmin")">Add New Topic</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-book nav_icon"></i>Post<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("Index","PostAdmin")">List Post</a>
            </li>
            <li>
                <a href="@Url.Action("Create", "PostAdmin")">Add New Post</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#" id="MainImage"><i class="fa fa-picture-o nav_icon"></i>Image</a>
    </li>
</ul>
